<style>
.center {
  text-align: center;
}

</style>

<br><br>
<div class="container">

<h1>Liste des dépenses</h1>

<div class="row">
<div class="col-9"></div>

<div class="col-3">
	<%= link_to 'Nouvelle dépense', new_expense_path, class: "btn btn-lg btn-primary" %>
</div>

</div>
<br><br><br>


<div class="row">
<div class="col-12">

<table class="table" >
  <thead class="thead-inverse">
  <tr>
    <th>#</th>
    <th>Nom</th>
    <th>Email</th>
	<th>Visualiser</th>
	<th>Editer</th>
	<th>Supprimer</th>
  </tr>
 </thead>
  <% @expenses.each do |expense| %>
    <tr>
	  <td><%= expense.id %></td>
      <td><%= expense.amount %></td>
      <td><%= expense.title %></td>
	  <td><%= link_to 'Visualiser', expense_path(expense), class: "btn btn-outline-info" %></td>
	  
	  <% if expense.payeur == current_user %>
		<td><%= link_to 'Editer', edit_expense_path(expense), class: "btn btn-outline-info" %></td>
	  <% else %>
		<td></td>
	  <% end %>
	  
	  
      <td><%= link_to 'Supprimer', expense_path(expense),
              method: :delete,
              data: { confirm: 'Are you sure?' },class: "btn btn-outline-info" %></td>
    </tr>
  <% end %>
</table>
</div>
</div>
