<br><br><br>
<h1>Création d'une nouvelle dépense</h1>

<div class="container">
<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>
 
<p>
  <strong>Title:</strong>
  <%= @expense.title %>
</p>
 
 <br>
  <strong>Payer:</strong>


  <ul class="list-group">
  <li class="list-group-item disabled"><%= @expense.payeur.email %></li>



  </ul>
 <br>


<p>
  <strong>Beneficiaries:</strong>
   <% @expense.users.each do |f| %>

  <ul class="list-group">
  <li class="list-group-item disabled"><%= f.name %></li>

<% end %>

  </ul>
  

</p>
<div class="row">

	<div class="col-11">
		<%= link_to 'Retour', expense_path, class: "btn btn-outline-info" %>
	</div>
	 	<div class="col-1">
		<%= link_to 'Edit', edit_expense_path(@expense), class: "btn btn-outline-warning" %>
	</div>
</div>